In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
spark = SparkSession \
    .builder \
    .appName("fiap mba") \
    .enableHiveSupport() \
    .getOrCreate()

In [2]:
spark.sql("use olist")

DataFrame[]

### segmentando clientes por geolocalização

In [3]:
spark.sql("select customer_city, count(*) as quantidade from \
olist.olist_customers group by customer_city order by 2 desc").show()

+--------------------+----------+
|       customer_city|quantidade|
+--------------------+----------+
|           sao paulo|     15540|
|      rio de janeiro|      6882|
|      belo horizonte|      2773|
|            brasilia|      2131|
|            curitiba|      1521|
|            campinas|      1444|
|        porto alegre|      1379|
|            salvador|      1245|
|           guarulhos|      1189|
|sao bernardo do c...|       938|
|             niteroi|       849|
|         santo andre|       797|
|              osasco|       746|
|              santos|       713|
|             goiania|       692|
| sao jose dos campos|       691|
|           fortaleza|       654|
|            sorocaba|       633|
|              recife|       613|
|       florianopolis|       570|
+--------------------+----------+
only showing top 20 rows

In [4]:
spark.sql("select customer_state, count(*) as quantidade from \
olist.olist_customers group by customer_state order by 2 desc").show()

+--------------+----------+
|customer_state|quantidade|
+--------------+----------+
|            SP|     41746|
|            RJ|     12852|
|            MG|     11635|
|            RS|      5466|
|            PR|      5045|
|            SC|      3637|
|            BA|      3380|
|            DF|      2140|
|            ES|      2033|
|            GO|      2020|
|            PE|      1652|
|            CE|      1336|
|            PA|       975|
|            MT|       907|
|            MA|       747|
|            MS|       715|
|            PB|       536|
|            PI|       495|
|            RN|       485|
|            AL|       413|
+--------------+----------+
only showing top 20 rows

### Total de pedidos por período e categorias.

In [19]:
#spark.sql("SELECT year(orders.order_purchase_timestamp) || '-' || LPAD(month(orders.order_purchase_timestamp), 2, '00') as order_purchase_year_month FROM olist_orders orders INNER JOIN olist_order_items order_items ON orders.order_id = order_items.order_id INNER JOIN olist_products products ON products.product_id = order_items.product_id ORDER BY order_purchase_year_month").show()

SELECT year(orders.order_purchase_timestamp) || '-' || LPAD(month(orders.order_purchase_timestamp), 2, '00') as order_purchase_year_month, 
products.product_category_name, count(*) as quantidade
FROM olist_orders orders 
INNER JOIN olist_order_items order_items 
ON orders.order_id = order_items.order_id 
INNER JOIN olist_products products 
ON products.product_id = order_items.product_id
group by year(orders.order_purchase_timestamp) || '-' || LPAD(month(orders.order_purchase_timestamp), 2, '00'), product_category_name
ORDER BY order_purchase_year_month

+-------------------------+
|order_purchase_year_month|
+-------------------------+
|                  2016-09|
|                  2016-09|
|                  2016-09|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
|                  2016-10|
+-------------------------+
only showing top 20 rows

### Total de pagamentos por método de pagamento.

In [ ]:
SELECT payment_type, count(*) as quantidade
FROM olist.olist_order_payments
group by payment_type
order by quantidade desc

### Notas das avaliações.

In [ ]:
# limpar 5 linhas com review_score diferente de numero

In [ ]:
select review_score, count(*) as quantidade
from olist_order_reviews
group by review_score
order by quantidade desc

### Vendedores x vendas

In [ ]:
SELECT year(orders.order_purchase_timestamp) || '-' || LPAD(month(orders.order_purchase_timestamp), 2, '00') as order_purchase_year_month,
sellers.seller_id, count(*) as quantidade
FROM olist_orders orders 
INNER JOIN olist_order_items order_items 
ON orders.order_id = order_items.order_id 
INNER JOIN olist_sellers sellers 
ON sellers.seller_id = order_items.seller_id
group by sellers.seller_id, year(orders.order_purchase_timestamp) || '-' || LPAD(month(orders.order_purchase_timestamp), 2, '00') 
ORDER BY order_purchase_year_month

In [ ]:
SELECT sellers.seller_id, count(*) as quantidade
FROM olist_orders orders 
INNER JOIN olist_order_items order_items 
ON orders.order_id = order_items.order_id 
INNER JOIN olist_sellers sellers 
ON sellers.seller_id = order_items.seller_id
group by sellers.seller_id
ORDER BY quantidade desc

### Produtos mais vendidos

In [ ]:
SELECT  products.product_category_name, count(*) as quantidade
FROM olist_orders orders 
INNER JOIN olist_order_items order_items 
ON orders.order_id = order_items.order_id 
INNER JOIN olist_products products 
ON products.product_id = order_items.product_id
group by product_category_name
ORDER BY quantidade desc

In [ ]:
### tempo médio de entrega por estado

In [ ]:
### categorias que são entregues mais rápido

In [ ]:
### itens por vendedor